<section class="hero">
  <div class="hero__grid">
    <div class="hero__image">
      <img src="/assets/logo.svg" alt="Illustration of a pink dragon-like creature">
    </div>
    <div class="hero__content">
    <h1 class="hero-title">A designer learns code to attempt zero-budget builds.</h1>
    <p class="hero-paragraph">
      *Cue Rocky-training-montage but for learning to program, survival-style*
      </p>
    </div>
  </div>
</section>