<section class="hero">
  <div class="hero__grid">
    <div class="hero__image">
      <img src="/assets/logo.svg" alt="Illustration of a pink dragon-like creature">
    </div>
    <div class="hero__content">
    <h1 class="hero-title">A designer sets out to learn code and make things out of curly brackets.</h1>
    <p class="hero-paragraph"> 
      </p>
    </div>
  </div>
</section>