<section class="hero">
  <div class="hero__grid">
    <div class="hero__image">
      <img src="/assets/logo.svg" alt="Illustration of a pink dragon-like creature">
    </div>
    <div class="hero__content">
      <h1 class="hero-title">A designer sets out to learn code and build things one curly bracket at a time.</h1>
      <p class="hero-paragraph">
        Sarah Brown ++ 
        <a href="https://mastodon.social/@another_sarah_brown" rel="me">Mastodon</a> ++ 
        <a href="https://github.com/sae-br" target="_blank" rel="noopener noreferrer">GitHub</a>
      </p>
    </div>
  </div>
</section>