<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.min.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Questadon" />
  <link rel="manifest" href="/site.webmanifest" />
</head>
<body>

  <header>
    {% include "nav.njk" %}
  </header>

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <script src="/assets/nav.js"></script>
  <script src="/assets/quote.js"></script>
</body>
</html>
