<section class="preview-box preview-box--projects">
  <h2 class="preview-heading">Latest Projects</h2>
  {% if collections.projects | length %}
  <div class="preview-content">
    {% for project in collections.projects %}
      {% if loop.index <= 2 %}
      <div class="preview-item">
        <h3><a href="{{ project.url }}">{{ project.data.title }}</a></h3>
        <p>{{ project.data.description }}</p>
      </div>
      {% endif %}
    {% endfor %}
    <a class="preview-link" href="/projects/">See all projects →</a>
  </div>
  {% else %}
  <p>No projects found.</p>
  {% endif %}
</section>