<section class="quote-section">
  <h2 class="quote-h2">What to build? Find your next idea below!</h2>
  <div class="quote-container">
    <div class="quote-output" id="quote-output">A scheduling app for calisthenics trainers who don't have thumbs.</div>
    <button class="quote-button" id="quote-button">Fresh Idea</button>
  </div>
</section>